@font-face {
  font-family: Quicksand;
  src: url(../assets/Quicksand-Medium.ttf); }

@font-face {
  font-family: Bebas;
  src: url(../assets/BebasNeue-Regular.ttf); }

@font-face {
  font-family: Lorenza;
  src: url(../assets/LORENZA.ttf); }

h1, h2, h3 {
  color: #ee9881;
  text-align: center;
  font-family: Bebas;
  margin-bottom: 10px;
  font-size: 40x; }

h2 {
  font-size: 40x; }

h3 {
  font-size: 20px; }

p {
  font-family: Quicksand;
  font-size: 20px;
  color: dimgray;
  text-align: center;
  margin: 5px;
  padding: 5px; }

.header {
  width: 100%;
  height: 600px;
  margin: 0px;
  padding: 0px; }

.fondonav {
  background: url(../imagenes/navbar.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 500px;
  margin: 0px;
  padding: 0px; }

.navbar {
  background-color: transparent !important; }
  .navbar .navbar-brand {
    margin-left: 30px; }
  .navbar .nav-item {
    font-family: Lorenza;
    text-transform: capitalize;
    color: dimgray;
    font-size: 25px; }

.navbar-expand-lg {
  background-color: #ee9881; }

@media screen and (max-width: 480px) {
  .header {
    width: 350px;
    height: 200px;
    margin: 0px;
    padding: 0px; }
  .fondonav {
    width: 100%;
    height: 200px;
    margin: 0px;
    padding: 0px; } }

.footer {
  background-color: #ee9881;
  padding: 10px; }

.social {
  text-align: center;
  padding-bottom: 30px;
  margin: 10px; }
  .social .icon {
    margin: 5px; }

.footer-basic .copyright {
  margin: 15px;
  text-align: center;
  font-size: 13px;
  color: white;
  font-family: Quicksand; }

body {
  margin: 0;
  padding: 0;
  background: #eedadb;
  justify-content: center;
  overflow-x: hidden; }

.atencion {
  width: 100%;
  height: auto;
  margin: 60px 40px 60px;
  text-align: center; }

.clearfix {
  width: 100%;
  margin: 10px;
  margin-left: 25px;
  padding: 5px; }
  .clearfix .col-md-6 {
    width: 330px;
    height: auto;
    margin: 30px;
    padding: 40px; }

.container {
  margin-top: 30px;
  width: 600px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; }

.container:hover img {
  opacity: 0.3; }

.container img:hover {
  transform: perspective(800px) rotateY(0deg);
  opacity: 1; }

.destacado {
  margin-top: 90px;
  width: 40%;
  height: auto;
  object-fit: cover;
  transform-origin: center;
  transform: perspective(800px) rotateY(25deg);
  transition: 0.5s; }

@media screen and (max-width: 480px) {
  .atencion {
    width: 290px;
    height: auto;
    text-align: center; }
  .clearfix {
    width: 310px;
    padding: 5px;
    text-align: center; }
    .clearfix .col-md-6 {
      margin: 10px;
      padding: 10px;
      width: 200px;
      height: auto; }
  .container {
    width: 220px;
    height: auto;
    justify-content: center; } }

.conocenos {
  background-image: url(./imagenes/background.jpg);
  background-repeat: no-repeat;
  align-items: center; }

.pag-unite {
  background: url(../imagenes/background.jpg); }

.form, .form2 {
  width: 340px;
  height: 440px;
  background: #eedadb;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #000;
  margin: calc(50vh - 220px) auto;
  padding: 20px 30px;
  max-width: calc(100vw - 40px);
  font-family: Quicksand; }

.form2 {
  height: 800px; }

.input {
  border: 2px;
  margin-top: 15px; }

.fa {
  text-align: center;
  margin: 10px;
  padding: 10px; }

.card-img-top:hover {
  filter: opacity(0.5); }

.row {
  margin-top: 30px; }

@media screen and (max-width: 480px) {
  .row {
    width: 350px;
    margin-left: 15px; } }

.main {
  max-width: 1000px;
  margin: 0 auto; }

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle; }

.btn {
  color: white;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  border: 2px solid #ee9881;
  background: transparent;
  text-align: center; }
  .btn:hover {
    background-color: #ee9881; }

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0; }

.cards_item {
  display: flex;
  padding: 1rem; }

@media (min-width: 40rem) {
  .cards_item {
    width: 50%; } }

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%; } }

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden; }

.card_content {
  padding: 1rem;
  background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%); }

.card_title {
  color: white;
  font-size: 26px;
  letter-spacing: 1px;
  margin: 0px; }

.card_text {
  color: white;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem; }

.made_by {
  font-size: 40px;
  margin-top: 35px;
  text-align: center; }

.main-container {
  padding: 30px; }

.instruction {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.card-1 {
  margin: 20px;
  padding: 10px;
  width: 400px;
  min-height: 100px;
  display: grid;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s; }

.card-1:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01); }

.card__title {
  grid-row: 3/4;
  color: white; }

.card-1 {
  background: #ee9881; }

@media (max-width: 1600px) {
  .cards {
    justify-content: center; } }
