.body{
    margin: 0px;
    padding: 0px;    
    font-family: Montserrat;
   

}
.containerTurnero{

    background-image: url(../imagenes/fondo2.jpg);
    background-repeat: repeat;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 60px;
    


}

.card-header {
    text-align: center;
}

.tittle{
    text-align: center;
    font-size: 30px;
}


.welcome {
    font-size: 50px;
    color: #51a8b1;
    font-family: Montserrat;
    font-weight: 600;
    text-shadow: 4px 3px 3px rgba(89,79,77,0.6);

}



.seleccion{
    align-items: center;
    text-align: center;
    display: block;
    
}

.form-control{
    text-align: center;
    width: 600px;
    display:block;
	margin: 0 auto 20px;
	position: relative;


}

.dias{
    text-align: center;
    width: 600px;
    display:block;
	margin: 0 auto 20px;
	position: relative;
    color: white;
}

.time{
    text-align: center;
    width: 600px;
    display:block;
	margin: 0 auto 20px;
	position: relative;
    color: white;

}

.form-group{
    text-align: center;
    width: 600px;
    display:block;
	margin: 0 auto 20px;
	position: relative;
    color: white;

}
input{
    text-align: center;
}

.btnTurno{
    text-align: center;
    width: 600px;
    display:block;
	margin: 0 auto 20px;
	position: relative;
    
}