.body{
    margin: 0px;
    padding: 0px;    
    font-family: Montserrat;
   

}
.flip-card-3D-wrapper{

    /* background-image: url(../imagenes/fondo2.jpg);
    background-repeat: repeat; */
    background-color: aqua;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 50px;

}

.tittle{
    text-align: center;
    font-size: 30px;
}


.welcome {
    font-size: 50px;
    color: #51a8b1;
    font-family: Montserrat;
    font-weight: 600;
    text-shadow: 4px 3px 3px rgba(89,79,77,0.6);
}



.seleccion{
    align-items: center;
    text-align: center;
    display: block;
    
}

.speciality{
    height: 38px;
    width: 300px;
    border-radius: 10px;
    border: solid 2px #51a8b1;

}

