h1 {
    color: $secondary-color;
    text-align: center;
    font-family: Bebas;
    margin-bottom: 10px;
    font-size: map-get($font-sz, font-l);
}

h2 {
  @extend h1;
  font-size: map-get($font-sz, font-l);
}

h3{
    @extend h1;
    font-size: map-get($font-sz, font-s);
    
}

p{
    font-family: Quicksand;
    font-size: map-get($font-sz, font-s);
    color:$tertiary-color;
    text-align: center;
    margin: 5px;
    padding: 5px;
}
 