@font-face {
    font-family: Quicksand;
    src: url(../assets/Quicksand-Medium.ttf);
}
@font-face {
    font-family: Bebas;
    src: url(../assets/BebasNeue-Regular.ttf);
}
@font-face {
    font-family: Lorenza;
    src: url(../assets/LORENZA.ttf);
}

@font-face {
    font-family: Montserrat;
    src: (link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet");
    
}