$primary-color: rgb(238, 218, 219,);
$secondary-color: rgb(238, 152, 129,);
$tertiary-color: rgb(105, 105, 105);
$light-color: rgb(255, 255, 255);



$font-sz: (
    'font-xs': 15px,
    'font-s': 20px,
    'font-m': 30px,
    'font-l': 40x,

)